*.DS_Store
BERT-Attack/models/
Assess_CodeBERT/codesearch/data/
Assess_CodeBERT/codesearch/models
BERT-Attack/data_defense/imdb_logs.tsv
Assess_CodeBERT/codesearch/CodeBERT/__pycache__/
Assess_CodeBERT/codesearch/CodeBERT/models/
Assess_CodeBERT/codesearch/CodeBERT/runs/
*.coverage
*.pyc
Assess_CodeBERT/codesearch/CodeBERT/authorship_Datasets/gcjpy/
GraphCodeBERT/codesearch/dataset/*
Assess_CodeBERT/codesearch/CodeBERT/authorship_Datasets/
Assess_CodeBERT/codesearch/CodeBERT/fse_authorship/
GraphCodeBERT/codesearch/saved_models/
Assess_CodeBERT/jit/data/
Assess_CodeBERT/jit/trained_model_op/
parser/parser/my-languages.so
my-languages.so
.idea/
venv/
CodeXGLUE/Code-Search-Adv/dataset/

CodeXGLUE/Defect-detection/code/saved_models/
*.log
CodeXGLUE/Defect-detection/preprocess/dataset/
CodeXGLUE/Code-Search-Adv/code/saved_models/
CodeXGLUE/Clone-detection-BigCloneBench/code/saved_models/
CodeXGLUE/Clone-detection-BigCloneBench/dataset/cached_train
CodeXGLUE/Clone-detection-BigCloneBench/dataset/cached_test
CodeXGLUE/Clone-detection-BigCloneBench/dataset/cached_valid

GraphCodeBERT/Defect-detection/code/saved_models/
GraphCodeBERT/Defect-detection/preprocess/dataset/
GraphCodeBERT/clonedetection/saved_models/
GraphCodeBERT/clonedetection/parser/tree-sitter-ruby
GraphCodeBERT/clonedetection/parser/tree-sitter-c-sharp
GraphCodeBERT/clonedetection/parser/tree-sitter-java
GraphCodeBERT/clonedetection/parser/tree-sitter-php
GraphCodeBERT/clonedetection/parser/tree-sitter-javascript
GraphCodeBERT/clonedetection/parser/tree-sitter-python
GraphCodeBERT/clonedetection/parser/tree-sitter-go
GraphCodeBERT/Defect-detection/preprocess/function.json
CodeXGLUE/Defect-detection/preprocess/function.json
GraphCodeBERT/clonedetection/dataset/

CodeXGLUE/Clone-detection-BigCloneBench/dataset/*.pkl
CodeXGLUE/Authorship-Attribution/dataset/data_folder
CodeXGLUE/Authorship-Attribution/fse_authorship/
CodeXGLUE/Authorship-Attribution/code/saved_models/
CodeXGLUE/Defect-detection/code/attack_result.csv
CodeXGLUE/Clone-detection-BigCloneBench/code/attack_result.csv

GraphCodeBERT/clonedetection/attack_result.csv
GraphCodeBERT/Defect-detection/code/attack_result.csv

CodeXGLUE/Defect-detection/code/*.csv

GraphCodeBERT/Authorship-Attribution/code/saved_models/
GraphCodeBERT/Authorship-Attribution/dataset/data_folder


CodeXGLUE/Authorship-Attribution/code/*.csv
GraphCodeBERT/Authorship-Attribution/code/*.csv
MHM/mhm/LSTMClassifier/saved_models
MHM/Parser/tmp